.main {
  background-color: #EDEDF5;
  width:100%;
  height:100%;
}

.header {
  height: 100px;
  width: 100%;
  background-color: #F2ECFF;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.logo {
  padding: 20px;
  margin-right: 50px;
}

.page {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-evenly;
  height: 100%;
}

.swaps_column {
  border-color: #000;
  border-width: 2px;
  border-style: solid;
  width: 100%;
  padding: 30px;
}

.swaps_heading {
  font-size: x-large;
  margin-bottom: 30px;
}

.buys_column {
  border-color: #000;
  border-width: 2px;
  border-style: solid;
  width: 100%;
  padding: 30px;
}

.buys_heading {
  font-size: x-large;
  margin-bottom: 30px;
}

.sells_column {
  border-color: #000;
  border-width: 2px;
  border-style: solid;
  width: 100%;
  padding: 30px;
}

.sells_heading {
  font-size: x-large;
  margin-bottom: 30px;
}

.trade_column {
  border-color: #000;
  border-width: 2px;
  border-style: solid;
  width: 100%;
  padding: 30px;
}

.borrow_heading {
  font-size: x-large;
  margin-bottom: 30px;
}

.borrow_select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 20px 0;
}

.borrow_less, .borrow_more {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
}

.borrow_amount {
  font-size: large;
}

.selected_cards {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.selected_cards .swap_card,
.selected_cards .buy_card,
.selected_cards .sell_card {
  margin-bottom: 30px;
  margin-top: 0px;
}

.swap_image {
  background-color: chartreuse;
  height: 45px;
  width: 45px;
  position:relative;
  top: -40px;
  margin-bottom: -45px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.trade_details {
  display: flex;
  justify-content: space-between;
  padding:5px;
}

.label_left {

}

.label_right {

}

.swap_card, .buy_card, .sell_card {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.token_img {
  height: 45px;
  width: 45px;
  background-color: coral;
  border-radius: 50%;
  margin-right: 20px;
}

.details_left {
  text-align: left;
  width: 50%;
}

.details_right {
  text-align: right;
  width: 50%;
}

.label {

}

.symbol {

}

.score {

}

.price {

}

.price .high {

}

.price .low {

}

.test_button {
  background-color: #DF5;
  height: 45px;
  border-radius: 45px;
  width:80%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation_button {
  background-color: #DF5;
  height: 45px;
  border-radius: 45px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}





